/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 40px;
}

.header__theme-menu-list {
  display: flex;
  margin-top: 75px;
  margin-bottom: 65px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  border: 1px solid transparent;
  color: var(--nav-color);
  padding: 2px 13px 4px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button_active {
  /* стили */
  border: 1px solid var(--nav-color);
}

.header__theme-menu-button:focus {
  /* стили */
  outline: none;
}

.header__theme-menu-button:focus-visible {
  /* стили */
  border-bottom: 1px solid var(--nav-color);
}

.header__title {
  margin-bottom: 55px;
  font-size: var(--header-logo-size);
  font-weight: 700;
  line-height: 96px;
  color: var(--header-logo-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__article {
  justify-self: end;
  align-self: flex-end;
  margin-bottom: 66px;
  font-weight: 700;
  color: var(--article-title-color);
  white-space: pre-line;
}

.header__angle-inscription {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.header__angle-inscription::before {
  content: 'REC';
  position: absolute;
  text-align: right;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color);
  inset-inline-end: 28px;
}

.header__angle-inscription::after {
  content: '';
  display: block;
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline-start: 10px;
  inset-inline-end: 9px;
  inset-block-start: 8px;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decorated-zone-color);
  border-bottom: 1px solid var(--decorated-zone-color);
}

.main {
  padding-left: 10px;
  padding-right: 10px;
}

.main__section-cards {
  margin-bottom: 50px;
}

.main__section-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
  margin-bottom: 20px;
}

.main__section_article-title {
  font-size: 18px;
  font-weight: 700;
  max-height: 23px;
  color: var(--article-title-color);
  margin-bottom: 10px;
}

.main__section-article-list {
  display: grid;
  gap: 20px;
}

.main__section_article-content {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-text-color);
}

.main__section_content-link {
  text-decoration: none;
  text-shadow: 1px 1px var(--link-shadow-color);
}

.main__section_content-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.main__section_content-link:focus {
  outline: none;
}

.main__section_content-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.advices {
  & .main__section_article-title {
    font-weight: 400;
  }
}

.advices-title {
  font-weight: 700;
  color: var(--article-title-color);
}

.main__section-gallery {
  margin-bottom: 40px;
}

.main__section-gallery_title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
  margin-bottom: 10px;
}

.main__section-gallery_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.main__section-gallery_content-item {
  width: 100%;
}


.main__section-gallery-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.footer__title {
  font-size: var(--footer-logo-size);
  font-weight: 700;
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 96px;
}

.title-decor {
  background-color: var(--section-heading-color);
}

@media screen and  (width >= 768px) {
  .header {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 60px;
  }

  .header__theme-menu-list {
    margin-top: 192px;
    margin-bottom: 173px;
  }

  .header__title {
    line-height: 99px;
    margin-inline-start: -20px;
    margin-bottom: 162px;
  }

  .header__article {
    max-width: 364px;
    margin-bottom: 183px;
  }

  .main {
    padding-right: 20px;
    padding-left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__angle-inscription {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .main__section-cards {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 80px;
  }

  .why {
    gap: 20px;
  }  

  .why>.main__section-title {
    margin-bottom: 0;
    max-width: 236px;
  }

  .causes>.main__section-title {
    margin-bottom: 0;
    max-width: 236px;
    grid-column: 1/-1;
  }

  .causes>.main__section-article-list {
    grid-column: 1/-1;
  }

  .advices-title {
    height: 23px;
    text-wrap: nowrap;
    margin-bottom: 0;
  }

  .main__section-gallery {
    margin-bottom: 60px;
  }

  .main__section-gallery_title {
    margin-bottom: 20px;
  }

  .main__section-gallery_content {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
  }

  .sunset {
    grid-column: span 2;
  }

  .tape {
    grid-row: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }

  .street {
    grid-column: span 2;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (width >= 1024px) {

  .header__theme-menu-list {
    margin-top: 20px;
    margin-bottom: 293px;
    flex-direction: row;
    justify-content: center;
  }

  .header__title {
    margin-bottom: 124px;
  }

  .header__article {
    margin-bottom: 154px;
    max-width: 491px;
  }

  .main__section-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .why>.main__section-title {
    max-width: 315px;
  }

  .main__section-article-list {
    grid-column: span 2;
  }

  .causes>.main__section-article-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .causes>.main__section-title {
    max-width: 315px;
  }

  .advices {
    margin-bottom: 80px;
  }

  .advices>.main__section-title {
    max-width: 315px;
  }
}


